<?xml version="1.0" encoding="UTF-8"?>  
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <bean id="Cours" class="com.example.demo.Cours">
        <constructor-arg value="22" type="int"></constructor-arg>
        <constructor-arg value="Coaching Standard" type="String"></constructor-arg>
    </bean>
    <bean id="Coach" class="com.example.demo.Coach">
        <constructor-arg value="Patrick " type="String"></constructor-arg>
        <constructor-arg value="Plaisant" type="String"></constructor-arg>
        <constructor-arg value="95000" type="int"></constructor-arg>
    </bean>
    <bean id="Objectif" class="com.example.demo.Objectif">
        <constructor-arg value="1" type="int"></constructor-arg>
        <constructor-arg value="Remise en forme" type="String"></constructor-arg>
    </bean>
    <bean id="Objectif2" class="com.example.demo.Objectif">
        <constructor-arg value="2" type="int"></constructor-arg>
        <constructor-arg value="Perte de poids" type="String"></constructor-arg>
    </bean>
    <bean id="Cours2" class="com.example.demo.Cours">
        <constructor-arg value="76" type="int"></constructor-arg>
        <constructor-arg value="Coaching Fitness" type="String"></constructor-arg>
    </bean>
    <bean id="Objectif3" class="com.example.demo.Objectif">
        <constructor-arg value="3" type="int"></constructor-arg>
        <constructor-arg value="Gain de masse musculaire" type="String"></constructor-arg>
    </bean>

</beans>
